@font-face {
    font-family: "OpenSansCons";
    src: url("fonts/OpenSans-CondLight.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
}

html, body{
    padding: 0;
    margin: 0;
    background-color: #333333;
    color: white;
    font-family: "OpenSansCons", sans-serif;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

h2 {
    font-weight: normal;
}

p {
    font-family: "OpenSans";
}


a {
    text-decoration: none;
    color: white;
}


.gold {
    color: #D1A954;
}


.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.container {
    margin-left: 250px;
    margin-right: 250px;
}

/* header */
header{
    margin: 0;
    padding: 0;
    background-image: url(img/header-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 1045px;
}

.logo{
    position: absolute;
    left: 140px;
    top: 20px;
    width: 88px;
    height: 100px;
}

header .container {
    padding-top: 50px;
}

.container nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.container nav ul {
    display: flex;
    justify-content: space-between;
}

.container nav ul li {
    font-size: 20px;
    font-weight: 700;
    margin-right: 90px;
}

.button {
    background-color: #D1A954;
    color: white;
    width: 160px;
    height: 50px;
    top: 665px;
    left: 405px;
    float: left;
}

.phone-number a {
    border-bottom: 2px solid #D1A954;
}

section .title-info h1 {
    width: 520px;
    font-size: 59px;
    font-weight: 700;
}

section .title-info p {
    width: 500px;
}

header section {
    display: flex;
    justify-content: space-between;
}



/* main */
main {
    padding-bottom: 10%;
    padding-top: 5%;
}

section h2 {
    text-align: center;
    font-size: 40px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.about-text, .about-numbers {
    margin-right: 3%;
}

.about-text p {
    width: 400px;
    font-size: 13px;
}

.about-numbers {
    position: relative;
    bottom: 50px;
}

.about-numbers h3 {
    font-size: 19px;
}

.about-numbers img {
    margin-top: 10px;
}

.about-numbers p {
    font-weight: 700;
}

.content-image img {
    position: relative;
    bottom: 100px;
}

.imgs-container {
    display: flex;
    justify-content: left;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}

.content-imgs {
    position: relative;
}

.content-imgs img {
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

.content-imgs .hover-image {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 35%;
    display: flex;
    justify-items: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for the overlay */
}
  

 .content-imgs:hover .hover-image {
    opacity: 1; /* Show the overlay on hover */
    z-index: 1;
  }

section .container .events-schedule {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

section .container .events-schedule th {
    background-color: #565656;
    text-align: left;
    padding: 10px;
}

.your-phone {
    width: 100%;
    margin-top: 20px;
    margin: 0 auto
}

.your-phone form {
    margin-bottom: 50px;
    margin-left: 400px;
}

.your-phone .submit-button {
    float: right;
    clear: auto;
}

/* footer */
footer {
    background-color: burlywood;
    color: #333333;
    padding-top: 5%;
}

footer hr{
   border: 1px solid #565656;
    margin: 0 2% 0 2%;
    height: 250px;
}

.footer-container-1{
    display: flex;
    justify-content:center;
}


.footer-logo{
    height: 300px;
    margin-right: 2%;
}
/* footer-menu */
.footer-menu{

}

/* footer-adr */
.footer-adr{
    
}

.footer-adr img{
    height: 250px;
}

/* footer-contacts */
.footer-contacts{
    width: 15%;
}

.footer-contact-item {
    margin-bottom: 20px;
}

.footer-social-network-items li img {
    margin-bottom: 20px;
}

/* footer-social-networks */
.footer-social-networks{
    width: 15%;
}


